<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>상품등록</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/adminProduct.js"></script>
</head>
<body>
<div class="container mt-5">
    <form id="addProductForm" method="post" action="/addProduct" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="productId" class="form-label">상품 ID:</label>
            <input type="text" id="productId" name="productId" class="form-control">
        </div>
        <div class="mb-3">
            <label for="productName" class="form-label">상품 이름:</label>
            <input type="text" id="productName" name="productName" class="form-control">
        </div>
        <div class="mb-3">
            <label for="productCondition" class="form-label">상품 상태:</label>
            <input type="text" id="productCondition" name="productCondition" class="form-control">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">상품 가격:</label>
            <input type="text" id="productPrice" name="productPrice" class="form-control">
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">상품 설명:</label>
            <textarea id="productDescription" name="productDescription" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="imgs" class="form-label">상품 이미지:</label>
            <input type="file" id="imgs" name="imgs" class="form-control image-input">
        </div>
        <div class="mb-3">
            <label for="imgs" class="form-label">상품 이미지:</label>
            <input type="file" id="imgs" name="imgs" class="form-control image-input">
        </div>
        <div class="mb-3">
            <label for="imgs" class="form-label">상품 이미지:</label>
            <input type="file" id="imgs" name="imgs" class="form-control image-input">
        </div>
        <div class="mb-3">
            <label for="imgs" class="form-label">상품 이미지:</label>
            <input type="file" id="imgs" name="imgs" class="form-control image-input">
        </div>
        <p>이미지는 최대 4개까지 설정 가능합니다.</p>
        <div class="mb-3">
            <label for="productCategoryId" class="form-label">상품 카테고리:</label>
            <select id="productCategoryId" name="productCategoryId" class="form-select">
                <option th:each="category : ${categoryList}" th:value="${category.productCategoryId}"
                        th:utext="${category.productCategoryName}"></option>
            </select>
        </div>
        <button type="button" id="addProduct" onclick="check(this)" class="btn btn-primary">등록하기</button>
    </form>
</div>
</body>
</html>
