<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>상품등록을 해봐요</title>
</head>
<body>
<div>
    <form id="addProductForm" method="post" action="/addProduct" enctype="multipart/form-data">
        <p>상품 ID: <input type="text" name="productId">
        <p>상품 이름: <input type="text" name="productName">
        <p>상품 상태: <input type="text" name="productCondition">
        <p>상품 가격: <input type="text" name="productPrice">
        <p>상품 설명:</p><textarea name="productDescription"></textarea>
        <p>상품 이미지: <input type="file" name="imgs" class="image-input">
        <p>상품 이미지: <input type="file" name="imgs" class="image-input">
        <p>상품 이미지: <input type="file" name="imgs" class="image-input">
        <p>상품 이미지: <input type="file" name="imgs" class="image-input">
        <p>이미지는 최대 4개까지 설정 가능합니다.
            <!--        <p>상품 이미지2: <input type="file" name="image2">-->
            <!--        <p>상품 이미지3: <input type="file" name="image3">-->
            <!--        <p>상품 이미지4: <input type="file" name="image4">-->
        <p>상품 카테고리:<select name="productCategoryId">
            <option th:each="category : ${categoryList}" th:value="${category.productCategoryId}"
                    th:utext="${category.productCategoryName}"></option>
        </select>
            <p><button type="button" onclick="check()">등록하기</button>
    </form>
</div>

<script>
    function check() {
        const imageInputs = document.querySelectorAll('.image-input');
        const imageTypes = ['image/jpeg', 'image/png', 'image/gif']; // 허용되는 이미지 타입

        imageInputs.forEach(input => {
            const files = input.files;
            if (files.length > 0) {
                const file = files[0];
                if (imageTypes.includes(file.type)) {
                    console.log("Image selected!")
                } else {
                    alert("이미지 파일만 업로드 가능합니다.")
                    return;
                }
            } else {
                console.log('No file selected');
                return;
            }
        });
        console.log("submit^^")
        // document.getElementById('addProductForm').submit();

    }
</script>
</body>
</html>