<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>상품 목록 조회</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>ProductId</td>
            <td>ProductName</td>
            <td>ProductCondition</td>
            <td>ProductPrice</td>
            <td>ProductDescription</td>
            <td>Img1</td>
            <td>Img2</td>
            <td>Img3</td>
            <td>Img4</td>
            <td>ProductCategory</td>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.productId}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productCondition}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${product.productDescription}"></td>
            <td th:text="${product?.img1}"></td>
            <td th:text="${product?.img2}"></td>
            <td th:text="${product?.img3}"></td>
            <td th:text="${product?.img4}"></td>
            <td th:text="${product.productCategoryId}"></td>
        </tr>
    </table>
</div>
<div>
    <button><a th:href="@{/admin.do}">관리자 메인 페이지</a></button>

</div>
</body>
</html>