<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>상품 목록 조회</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>ProductId</td>
            <td>ProductName</td>
            <td>ProductCondition</td>
            <td>ProductPrice</td>
            <td>ProductDescription</td>
            <td>Img1</td>
            <td>Img2</td>
            <td>Img3</td>
            <td>Img4</td>
            <td>ProductCategory</td>
        </tr>
        <tr></tr>
    </table>
</div>
</body>
</html>