<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="/js/payment.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<!--    <p><input type="text" id="nameinput">-->
    <p><input type="text" id="uid">
<!--    <p><input type="text" id="amount">-->

</div>
<button onclick="requestPay()">테스트 결제</button>
</body>
</html>