<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joeun.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="com.joeun.dto.OrderDto">
        INSERT INTO orders (order_user_id, order_product_id, order_date)
        VALUES (#{orderUserId}, #{orderProductId}, #{orderDate})
    </insert>

    <select id="getAllOrders" resultType="com.joeun.dto.OrderDto">
        SELECT * FROM orders
    </select>

    <!-- 추가적인 SQL 쿼리 정의 -->
</mapper>