<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joeun.mapper.OrderMapper">

    <insert id="saveOrder" parameterType="com.joeun.dto.OrderDto">
        INSERT INTO orders (user_id, product_id, orders_date)
        VALUES (#{orderUser}, #{orderProduct}, #{ordersDate})
    </insert>

    <select id="getAllOrders" resultType="com.joeun.dto.OrderDto">
        SELECT * FROM orders
    </select>

<!--    <select id="getOrdersByUserId" resultType="com.joeun.dto.OrderDto">-->
<!--        SELECT * FROM orders WHERE user_id = #{orderUser}-->
<!--    </select>-->
</mapper>