<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joeun.mapper.OrderMapper">

    <insert id="saveOrder" parameterType="com.joeun.dto.OrderDto">
        INSERT INTO orders (user_id, product_id, orders_date)
        VALUES (#{ordersUserId}, #{ordersProductId}, #{ordersDate})
    </insert>

    <select id="getAllOrders" resultType="com.joeun.dto.OrderDto">
        SELECT * FROM orders
    </select>

    <select id="findOrderById" resultType="com.joeun.dto.OrderDto">
        select orders_id, user_id as ordersUserId, product_id as ordersProductId,orders_date
            from orders where product_id = #{productId} and user_id = #{userId}
    </select>
</mapper>