<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joeun.mapper.OrderListMapper">
    <resultMap id="orderListResultMap" type="com.joeun.dto.OrderListDto">
        <id property="listListId" column="ordl_id"/>
        <result property="listOrderId" column="order_id"/>
        <result property="listProductId" column="product_id"/>
        <result property="listRefund" column="refund_check"/>
    </resultMap>

    <select id="getAllOrderLists" resultMap="orderListResultMap">
        SELECT ordl_id, order_id, product_id, refund_check
        FROM orderlist
    </select>
</mapper>