<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joeun.mapper.PagingMapper">


	<!-- 전체 상품 수 조회 -->
	<select id="countAllProducts" resultType="int">
		SELECT COUNT(*)
		FROM
		product
		WHERE product_id NOT IN (
		SELECT product_id
		FROM orders
		WHERE orders_status IS NULL
		)
	</select>

	<!-- 검색된 상품 수 조회 -->
	<select id="countProductsByKeyword" resultType="int">
		SELECT COUNT(*)
		FROM product
		WHERE product_name LIKE CONCAT('%', #{keyword}, '%')
		AND
		NOT EXISTS (
		SELECT 1
		FROM orders
		WHERE orders.product_id = product.product_id
		AND orders.orders_status IS NULL
		)
	</select>

	<!-- 검색된 카테고리 상품 수 조회 -->
	<select id="countProductscategory" resultType="int">
		SELECT COUNT(*)
		FROM product
		WHERE product_category_id =#{category}
		AND NOT EXISTS (
		SELECT 1
		FROM orders
		WHERE orders.product_id = product.product_id
		AND orders.orders_status IS NULL
		)
	</select>

		<select id="countAllPost" resultType="int">
		SELECT COUNT(*)
        FROM
        tb_post
        WHERE
        delete_yn = 0
        ORDER BY
        id DESC
	</select>



</mapper>