<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joeun.mapper.ProductMapper">
	<insert id="addProduct" parameterType="com.joeun.dto.ProductDto">
		insert into product (product_id, product_name, product_condition,
		product_price, product_description, img1, img2, img3, img4,
		product_category_id)
		values (#{productId},
		#{productName},
		#{productCondition},
		#{productPrice},
		#{productDescription},
		#{img1},
		#{img2},
		#{img3},
		#{img4},
		#{productCategoryId})
	</insert>

	<insert id="addCategory"
		parameterType="com.joeun.dto.ProductCategoryDto">
		insert into product_category(product_category_name)
		value (
		#{productCategoryName}
		)
	</insert>
	<select id="findAllCategory"
		resultType="com.joeun.dto.ProductCategoryDto">
		select * from product_category
	</select>

	<select id="findAll" resultType="com.joeun.dto.ProductDto"
		fetchSize="100" resultMap="productResultMap">
		 SELECT
        product_id,
        product_name,
        product_condition,
        product_price,
        product_description,
      	CONCAT_WS(',', IFNULL(img1, ''), IFNULL(img2, ''), IFNULL(img3, ''), IFNULL(img4, '')) as imgs,
        product_category_id
    FROM
        product
	</select>
	<resultMap id="productResultMap" type="com.joeun.dto.ProductDto">
    <id property="productId" column="product_id" />
    <result property="productName" column="product_name" />
    <result property="productCondition" column="product_condition" />
    <result property="productPrice" column="product_price" />
    <result property="productDescription" column="product_description" />
  	<result property="imgs" javaType="java.lang.String" column="img" jdbcType="VARCHAR" />
    <result property="productCategoryId" column="product_category_id" />
	</resultMap>
	
	<select id="findAllProductsPaging" resultType="com.joeun.dto.ProductDto" resultMap="productResultMap">
    SELECT
        product_id,
        product_name,
        product_condition,
        product_price,
        product_description,
        CONCAT_WS(',', IFNULL(img1, ''), IFNULL(img2, ''), IFNULL(img3, ''), IFNULL(img4, '')) as imgs,
        product_category_id
    FROM
        product
   LIMIT #{param2} OFFSET #{param1}
	</select>
	
	<select id="countAllProducts" resultType="int">
    SELECT COUNT(*) FROM product
	</select>
</mapper>