<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joeun.mapper.ReviewMapper">
    <!-- <select> 태그를 이용하여 select 쿼리임을 나타냄. 앞서 mapper에서 말했던 메소드의 이름은 select 쿼리의 id값과 같아야함. -->
    <select id="selectReviewList" resultType="com.joeun.dto.ReviewDto">

        SELECT review_id, review_title, review_date, review_content, review_rate, product_id
        FROM review

    </select>
    <insert id="insertReview" parameterType="com.joeun.dto.ReviewDto">
        <![CDATA[
        INSERT INTO review
        (
        review_id, review_title, review_date, review_content, review_rate, product_id
        )
        VALUES
        (
        #{review_id},
        #{review_title},
        NOW(),
        #{review_content},
        #{review_rate},
        #{product_id}
        )
        ]]>
    </insert>
</mapper>