<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">상품 정보</h2>
            <p>상품명: <span th:text="${productDto.productName}"></span></p>
            <p>상품 가격: <span th:text="${productDto.productPrice}"></span></p>
            <img th:src="${productDto.img1}" alt="Product Image" class="img-fluid mb-3">
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">주문 정보 입력</h2>
            <form action="/completeOrder" method="post">
                <input type="hidden" name="productId" th:value="${productDto.productId}">
                <div class="form-group">
                    <label for="ordersName">받으시는 분 성함</label>
                    <input type="text" id="ordersName" name="ordersName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="ordersPhone">핸드폰번호:</label>
                    <input type="text" id="ordersPhone" name="ordersPhone" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="ordersAddress">주소:</label>
                    <input type="text" id="ordersAddress" name="ordersAddress" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>결제방법:</label><br>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="kakaoPay" name="paymentMethod" value="카카오 결제" class="form-check-input" required>
                        <label for="kakaoPay" class="form-check-label">카카오 결제</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="cardPayment" name="paymentMethod" value="토스 페이" class="form-check-input" required>
                        <label for="cardPayment" class="form-check-label">토스 페이</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">주문 완료</button>
<!--                <button type="button" onclick="requestPay()" class="btn btn-primary">주문 완료</button>-->
            </form>
        </div>
    </div>
</div>
<!-- 주문 취소 모달 -->
<div th:each="order : ${orderHistory}">
    <div class="modal fade" th:id="'cancelOrderModal' + ${order.ordersId}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">주문 취소</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>주문을 취소하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                    <form th:action="@{/cancelOrder}" method="post">
                        <input type="hidden" name="orderId" th:value="${order.ordersId}" />
                        <button type="submit" class="btn btn-danger">주문 취소하기</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
